@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

/* ----------------------
---- SECTION Mix-ins ----
---------------------- */
@mixin primary-font($weight: 400) {
    font-family: 'Lobster Two', cursive;
    font-weight: $weight;
}

@mixin secondary-font($weight: 400) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: $weight;
}

@mixin hover-effect($time:0.3s) {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: perspective(1px) translateZ(0);
}

/* ----------------------
-------- !SECTION -------
---------------------- */




/* -----------------------
---- SECTION Variable ----
----------------------- */

$bgcolor:hsl(0, 0%, 25%);
/* ----------------------
-------- !SECTION -------
---------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 200vh;
    left: 0;
    position: relative;
}




/* -----------------------
--- SECTION Navigation ---
----------------------- */
header {
    display: flex;
    flex-direction: column;
    position: relative;

    img {
        z-index: -1;
        position: absolute;
        width: 100%;
        filter: brightness(0.8) opacity(0.9);
    }

    nav {
        margin: auto;
        margin-top: 2em;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        color: white;

        h1 {
            font-size: 6.5rem;
            @include primary-font(700);
            text-decoration: underline;
            margin-bottom: 0.2rem;
        }

        ul {
            display: flex;
            width: 45%;
            justify-content: space-between;
            min-width: 600px;
            margin-bottom: 0.2rem;
        }

        li {
            padding: 0.25em 0.75em;
            list-style: none;
            font-size: 2.5rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            border-radius: 1em;
            @include hover-effect();
            transition: background-color 0.3s, transform 0.2s;

            &:hover,
            &:focus {
                background-color: hsla(0, 0%, 50%, 0.884);
                box-shadow: 3px 3px 15px 5px #000000;
            }

            &:active {
                transform: scale(0.9);
            }
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    p {
        font-family: monospace;
        margin: auto;
        margin-top: 5rem;
        font-size: 7rem;
        width: 54rem;
        color: white;
        text-align: center;

        &::after {
            content: '';
            font-family: monospace;
            overflow: hidden;
            border-right: .1em solid white;
            animation: typing 15s infinite, blink-caret .75s step-end infinite;
            vertical-align: bottom;
            display: inline-block;
        }
    }
}

/* ----------------------
-------- !SECTION -------
---------------------- */
@keyframes typing {

    0%,
    15%,
    100% {
        width: 43%;
        content: 'coffee';
        animation-timing-function: steps(6);
    }

    15% {
        animation-timing-function: steps(0);
    }

    20% {
        animation-timing-function: steps(3);
        width: 0;
    }

    25% {
        width: 22.5%;
        animation-timing-function: steps(3);
        content: 'tea';
    }

    37.5% {
        width: 22.5%;
        animation-timing-function: steps(3);
        content: 'tea';
    }

    45% {
        animation-timing-function: steps(4);
        width: 0;
    }

    50% {
        width: 29%;
        animation-timing-function: steps(4);
        content: 'beer';
    }

    62.5% {
        width: 29%;
        animation-timing-function: steps(4);
        content: 'beer';
    }

    67.5% {
        animation-timing-function: steps(4);
        width: 0;
    }

    75% {
        width: 29%;
        animation-timing-function: steps(4);
        content: 'soda';
    }

    87.5% {
        width: 29%;
        animation-timing-function: steps(4);
        content: 'soda';
    }

    92.5% {
        animation-timing-function: steps(6);
        width: 0;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}







/* -----------------------
----- SECTION Footer -----
----------------------- */
footer {
    background-color: rgba($bgcolor, 0.8);
    color: white;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: auto auto;
    position: absolute;
    bottom: 0;
}

.description {
    margin: 1rem 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    grid-area: 1/2/3/1;

    h1 {
        @include primary-font();
        font-size: 4.8rem;
    }

    >p {
        @include secondary-font();
        width: 70%;
        font-size: 2.2rem;
        margin-top: 0.5em;
    }
}

.phone-number {
    display: flex;
    align-items: center;
    margin-top: 2em;

    p {
        @include secondary-font();
        font-size: 3rem;
    }

    img {
        width: 10%;
        margin-right: 2em;
        @include hover-effect();
        transition: transform 0.3s;

        &:hover,
        &:focus,
        &:active {
            transform: rotate(20deg) scale(1.3);
        }
    }
}

.footer-logo {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 2em;

    img {
        width: 50%;
        transition: transform 0.3s;
        @include hover-effect();

        &:hover,
        &:focus,
        &:active {
            transform: scale(1.3) rotate(20deg);
        }
    }
}

.footer-list {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;

    h1 {
        @include primary-font();
        font-size: 4.4rem;
    }

    >li {
        &::marker {
            content: "";
            list-style: none;
        }

        &:hover,
        &:focus {
            color: white !important;
            cursor: default !important;
        }
    }

    li {
        @include secondary-font();
        list-style-type: number;
        font-size: 2rem;
        margin-top: 0.25em;
        margin-left: 1em;
        transition: color 0.3s;

        &:hover,
        &:focus {
            color: hsl(49, 100%, 46%);
            cursor: pointer;
        }

        &:active {
            color: hsl(44, 57%, 41%);
            cursor: pointer;
        }
    }
}

.subscribe {
    margin-top: 1rem;
    grid-area: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-bottom: 0.5rem;
        font-size: 4.8rem;
        @include primary-font();
    }

    h2 {
        font-size: 2.5rem;
        @include secondary-font();
        letter-spacing: 0.05em;
    }
}

.sub-subscribe {
    display: flex;
    margin-top: 1rem;

    input[type="email"] {
        font-size: 2.5em;
        border: 0;
        padding-left: 0.1em;
    }

    button {
        font-size: 2.5rem;
        padding: 0.2em 0.5em;
    }
}

/* ----------------------
-------- !SECTION -------
---------------------- */



/* -----------------------
--- SECTION Home Page ----
----------------------- */